.notification-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.notification {
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    animation: fade-in-out 5s ease-in-out forwards;
}

.notification.error {
    background-color: #f44336;
}

.notification.success {
    background-color: #4caf50;
}

.notification.info {
    background-color: #2196f3;
}

@keyframes fade-in-out {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }

    10% {
        opacity: 1;
        transform: translateY(0);
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateY(-10px);
    }
}